<section class="info-section bg-lightPick ">
    <div class="container">
        <div class="head-box mb-5">
            <h3 class="pageTitle">Contact Us</h3>
        </div>
        <div class="three-panel-block  mb-5">
            <div class="row">
                <div class=" col-md-12 font-size3rem pageMain-Text">
                    Get in touch to discuss your bussiness needs today.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">call us</h4>
                        <p><a href="tel:+9188855 44446" style="color: #000; font-weight: 600;"> +91 – 88855 44446</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-address-card fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">Corporate Office </h4>
                        <address>No. 34-B, SIDCO Industrial Estate, Thirumazhisai, Chennai - 602 107.Tamil Nadu, INDIA.</address>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">email</h4>
                        <p><a style="color: #000;font-weight: 600;" href="mailto:dgm.operations@mmchealthcareltd.com">dgm.operations@mmchealthcareltd.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">office loaction</h4>
                        <address><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15543.47842673923!2d80.15729861690352!3d13.107445894487988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x571101b4a532b820!2sMMC%20Healthcare%20Ltd!5e0!3m2!1sen!2sus!4v1584267462071!5m2!1sen!2sus" width="100%" height="350" frameborder="0" style="border:10px solid #fff;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></address>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-paper-plane fa-5x mb-3" aria-hidden="true"></i>
                        <!-- <h4 class="text-uppercase mb-5">Drop us an email or fill out the contact form and we'll get back to you.</h4> -->
                        <h4 class="text-uppercase mb-5">Drop Us a Message</h4>
                    </div>
                    <div class="container contact-form">
                        <form #form="ngForm" (ngSubmit)="logForm(form.value)" id="myForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="duration" [(ngModel)]="duration" required class="form-control">
                                <option value="">Select</option>
                                <!-- <option name="duration" value="gurramanilkumar@gmail.com">Test Email</option> -->
                                <option value="purchase@mmchealthcareltd.com">Purchase</option>
                                <option value="cms@mmchealthcareltd.com">CMS</option>
                                <option value="dgm.operations@mmchealthcareltd.com">General</option>
                                <option value="exports@mmchealthcareltd.com">Exports </option>
                                <option value="hr@surakshapharma.in">HR</option>
                                
                                </select>
                                    </div>

                                    <div class="form-group">
                                        <input id="userName" name="userName" type="text" class="form-control" [(ngModel)]="userName" placeholder="Name *" required/>
                                    </div>
                                    <div class="form-group">
                                        <input id="userEmail" name="userEmail" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" title="Invalid email address" [(ngModel)]="userEmail" class="form-control" placeholder="Email *" required/>
                                    </div>
                                    <div class="form-group">
                                        <input id="phoneNo" name="phoneNo" type="number" maxlength="10" [(ngModel)]="phoneNo" class="form-control" placeholder="Mobile Number" />
                                    </div>
                                    <div class="form-group">
                                        <input id="subject" name="subject" type="text" [(ngModel)]="subject" class="form-control" placeholder="Subject *" required/>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="content" name="Message" [(ngModel)]="Message" class="form-control" placeholder="Message *" required></textarea>
                                    </div>
                                    <div *ngIf="dangerAlert" class="alert alert-danger " role="alert">
                                        <strong>{{successMessage}}</strong>
                                    </div>
                                    <div *ngIf="succesAlert" class="alert alert-success" role="alert">
                                        <strong>{{successMessage}}</strong>
                                    </div>

                                    <div class="form-group text-center">
                                        <button class="btn btn-primary btn-block">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>