                /* //images */
                
                @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
                @import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
                figure.snip0057 {
                    font-family: 'Raleway', Arial, sans-serif;
                    position: relative;
                    float: left;
                    overflow: hidden;
                    margin: 10px 1%;
                    /* min-width: 380px;
                    max-width: 480px; */
                    min-width: 350px;
                    max-width: 350px;
                    width: 100%;
                    background: #ffffff;
                    color: #000000;
                }
                
                figure.snip0057 * {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transition: all 0.35s ease-in-out;
                    transition: all 0.35s ease-in-out;
                }
                
                figure.snip0057 .image {
                    width: 50%;
                    overflow: hidden;
                    z-index: 1;
                    -webkit-transform: skewX(-15deg);
                    transform: skewX(-15deg);
                }
                
                figure.snip0057 .image img {
                    position: relative;
                    display: block;
                    /* left: -15%; */
                    left: -95%;
                    z-index: 1;
                    -webkit-transform: skew(15deg);
                    transform: skew(15deg);
                }
                
                figure.snip0057:before {
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 45%;
                    background: rgba(0, 0, 0, 0.2);
                    -webkit-transform: skewX(-17deg);
                    transform: skewX(-17deg);
                    -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
                    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
                }
                
                figure.snip0057 figcaption {
                    padding: 20px 30px 20px 20px;
                    position: absolute;
                    right: 0;
                    bottom: 10px;
                    width: 50%;
                }
                
                figure.snip0057 figcaption h2,
                figure.snip0057 figcaption p {
                    margin: 0;
                    text-align: right;
                    padding: 10px 0;
                    width: 100%;
                }
                
                figure.snip0057 figcaption h2 {
                    font-size: 1.3em;
                    font-weight: 300;
                    text-transform: uppercase;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
                
                figure.snip0057 figcaption h2 span {
                    font-weight: 800;
                }
                
                figure.snip0057 figcaption p {
                    font-size: 0.9em;
                    opacity: 0.8;
                }
                
                figure.snip0057 figcaption .icons {
                    width: 100%;
                    text-align: right;
                }
                
                figure.snip0057 figcaption .icons i {
                    font-size: 26px;
                    padding: 5px;
                    top: 50%;
                    color: #000000;
                    opacity: 0;
                }
                
                figure.snip0057 figcaption a {
                    opacity: 0.3;
                }
                
                figure.snip0057 figcaption a:hover {
                    opacity: 0.8;
                }
                
                figure.snip0057 .position {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: right;
                    padding: 15px 30px;
                    font-size: 0.9em;
                    opacity: 1;
                    font-style: italic;
                    color: #ffffff;
                    background: #000000;
                }
                
                figure.snip0057.blue .position {
                    background: #20638f;
                }
                
                figure.snip0057.red .position {
                    background: #a82681;
                }
                
                figure.snip0057.yellow .position {
                    background: #bf6516;
                }
                
                figure.snip0057:hover figcaption,
                figure.snip0057.hover figcaption {
                    bottom: 40px;
                }
                
                figure.snip0057:hover .icons i,
                figure.snip0057.hover .icons i {
                    opacity: 1;
                    -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;
                }
                
                figure.snip0057:hover:before,
                figure.snip0057.hover:before {
                    -webkit-animation: shadow 0.6s ease-in-out;
                    animation: shadow 0.6s ease-in-out;
                }
                
                @-webkit-keyframes shadow {
                    0% {
                        left: 0px;
                    }
                    50% {
                        left: -5px;
                    }
                    100% {
                        left: 0px;
                    }
                }
                
                @keyframes shadow {
                    0% {
                        left: 0px;
                    }
                    50% {
                        left: -5px;
                    }
                    100% {
                        left: 0px;
                    }
                }
                /* Testimonials */
                
                .testimonials blockquote {
                    background: #f8f8f8 none repeat scroll 0 0;
                    border: medium none;
                    color: #666;
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 15px;
                    position: relative;
                }
                
                .testimonials blockquote::before {
                    width: 0;
                    height: 0;
                    right: 0;
                    bottom: 0;
                    content: " ";
                    display: block;
                    position: absolute;
                    border-bottom: 20px solid #fff;
                    border-right: 0 solid transparent;
                    border-left: 15px solid transparent;
                    border-left-style: inset;
                    /*FF fixes*/
                    border-bottom-style: inset;
                    /*FF fixes*/
                }
                
                .testimonials blockquote::after {
                    width: 0;
                    height: 0;
                    right: 0;
                    bottom: 0;
                    content: " ";
                    display: block;
                    position: absolute;
                    border-style: solid;
                    border-width: 20px 20px 0 0;
                    border-color: #e63f0c transparent transparent transparent;
                }
                
                .testimonials .carousel-info img {
                    border: 1px solid #f5f5f5;
                    border-radius: 150px !important;
                    height: 75px;
                    padding: 3px;
                    width: 75px;
                }
                
                .testimonials .carousel-info {
                    overflow: hidden;
                }
                
                .testimonials .carousel-info img {
                    margin-right: 15px;
                }
                
                .testimonials .carousel-info span {
                    display: block;
                }
                
                .testimonials span.testimonials-name {
                    color: #e6400c;
                    font-size: 16px;
                    font-weight: 300;
                    margin: 23px 0 7px;
                }
                
                .testimonials span.testimonials-post {
                    color: #656565;
                    font-size: 12px;
                }
                
                .cardbtm {
                    background-color: #fff;
                    border-radius: 0px 0px 10px 10px;
                    padding-bottom: 20px;
                    /* font-size: 1.2rem; */
                    text-align: center;
                    h2 {
                        font-size: 1.2rem;
                    }
                    p {
                        font-size: 1rem !important;
                        line-height: 1.4rem !important;
                        min-height: 50px;
                    }
                }
                
                // round
                #socialicons {
                    width: 75%;
                    margin: 0 auto;
                    overflow: auto;
                }
                
                .socialicon {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    overflow: hidden;
                    background: #e4e4e4;
                    position: relative;
                    float: left;
                    margin: 0px 0px 10px 10px;
                }
                
                .socialiconcircle1 {
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    left: 0px;
                    top: 100px;
                    -webkit-animation: fill 2s infinite;
                    -moz-animation: fill 2s infinite;
                    animation: fill 2s infinite;
                }
                
                .socialiconcircle2 {
                    width: 94px;
                    height: 94px;
                    border-radius: 50%;
                    background: #fff;
                    position: absolute;
                    left: 3px;
                    top: 3px;
                }
                
                .icons {
                    font-size: 2em;
                    position: absolute;
                    left: 33px;
                    top: 33px;
                    -webkit-animation: iconjump 2s infinite;
                    -moz-animation: iconjump 2s infinite;
                    animation: iconjump 2s infinite;
                }
                /* fill color */
                
                .dribbblecolor {
                    background: #ea4c89;
                }
                /* fill background */
                
                @-webkit-keyframes fill {
                    0% {
                        top: 100px;
                    }
                    100% {
                        top: 0px;
                    }
                }
                
                @-moz-keyframes fill {
                    0% {
                        top: 100px;
                    }
                    100% {
                        top: 0px;
                    }
                }
                
                @keyframes fill {
                    0% {
                        top: 100px;
                    }
                    100% {
                        top: 0px;
                    }
                }
                
                // popup
                /* Coded with love by Mutiullah Samim */
                
                .user_card {
                    min-height: 400px;
                    width: 100%;
                    margin-top: auto;
                    margin-bottom: auto;
                    background: #a82681;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 10px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border-radius: 5px;
                }
                
                .brand_logo_container {
                    position: absolute;
                    height: 170px;
                    width: 170px;
                    top: -75px;
                    border-radius: 50%;
                    background: #f3e5f2;
                    padding: 10px;
                    text-align: center;
                }
                
                .brand_logo {
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    border: 2px solid white;
                }
                
                .form_container {
                    margin-top: 100px;
                }
                
                .login_btn {
                    width: 100%;
                    background: #c0392b !important;
                    color: white !important;
                }
                
                .login_btn:focus {
                    box-shadow: none !important;
                    outline: 0px !important;
                }
                
                .login_container {
                    padding: 0 2rem;
                }
                
                .input-group-text {
                    background: #c0392b !important;
                    color: white !important;
                    border: 0 !important;
                    border-radius: 0.25rem 0 0 0.25rem !important;
                }
                
                .input_user,
                .input_pass:focus {
                    box-shadow: none !important;
                    outline: 0px !important;
                }
                
                .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
                    background-color: #c0392b !important;
                }
                
                @media (min-width: 576px) {
                    .modal-dialog {
                        max-width: 90%;
                        margin: 1.75rem auto;
                    }
                }
                
                // profileModal
                .profileModal {
                    border: none;
                    margin-top: 80px;
                    color: #fff;
                    .modal-header {
                        border: none;
                    }
                    .modal-body {
                        margin-top: 3rem;
                    }
                    .modal-footer {
                        display: none;
                    }
                    .close {
                        font-size: 90px;
                        right: 0;
                        position: absolute;
                        opacity: 1;
                        top: -80px;
                        line-height: inherit;
                    }
                    .close:not(:disabled):not(.disabled):focus,
                    .close:not(:disabled):not(.disabled):hover {
                        color: #f3e6f2;
                        text-decoration: none;
                        opacity: .75;
                    }
                    h3.name {
                        text-transform: uppercase;
                        text-align: center;
                        ;
                    }
                    h5.bgbdr {
                        background-color: #f3e6f2;
                        padding: 15px;
                        border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
                        border-top-left-radius: 0%;
                        border-top-right-radius: 100%;
                        border-bottom-right-radius: 100% 0%;
                        border-bottom-left-radius: 0% 100%;
                        color: #a82680;
                    }
                    .text-bold {
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                    .pl-15px {
                        padding-left: 15px;
                    }
                }
                /* DXC */
                
                section.item-sxs.scroll .row {
                    position: relative;
                }
                
                @media (min-width: 992px) {
                    section.item-sxs .content-col {
                        height: calc(100vh - 80px);
                    }
                    section.item-sxs .content-col {
                        height: calc(100vh - 5rem);
                        top: 5rem;
                        position: -webkit-sticky;
                        position: sticky;
                    }
                }
                
                .imgBorder {
                    border-radius: 10px;
                    border: 1px solid #dcdada;
                    margin: 5px;
                }
                
                @media (max-width: 992px) {
                    figure.snip0057 {
                        margin: auto;
                        margin-top: 1rem;
                    }
                }