<section id="footer">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/surakshapharmahyd/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC38zMINb8b8yIwYOKuddTHg" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/suraksha-pharma-96562b17b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="#">Privacy Policy</a></u> <u><a href="#">Terms of Use</a></u></p>
                <p class="h6"><i class="far fa-copyright"></i> All right Reversed.<a class="text-green ml-2" href="https://mmchealthcareltd.com/">MMC Healthcare Ltd.</a></p>
            </div>
        </div>
    </div>
</section>