.pricingTable {
    text-align: center;
    background: #a82681;
    padding-top: 5px;
    transition: all 0.5s ease-in-out 0s;
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
}

.pricingTable>.pricingTable-header {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    /* background: #273238; */
    height: 190px;
    position: relative;
    transition: all 0.5s ease 0s;
    /* background-image: url(../../assets/images/ASIA.png); */
}

.pricingTable>.pricingTable-header:after {
    content: "";
    border-bottom: 40px solid #a82681;
    border-left: 255px solid transparent;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.pricingTable:hover .pricingTable-header {
    height: 230px;
    transition: all 0.5s ease 0s;
}

.pricingTable-header>.heading {
    display: block;
    padding: 20px 0;
}

.heading>h3 {
    margin: 0;
    text-transform: uppercase;
}

.pricingTable-header>.price-value {
    display: block;
    font-size: 60px;
    line-height: 60px;
}

.pricingTable-header>.price-value>.mo {
    font-size: 14px;
    display: block;
    line-height: 0px;
    text-transform: uppercase;
}

.pricingTable-header>.price-value>.currency {
    font-size: 24px;
    margin-right: 4px;
    position: relative;
    bottom: 30px;
}

.pricingTable>.pricingContent {
    text-transform: uppercase;
    color: #fff
}

.pricingTable>.pricingContent>ul {
    list-style: none;
    padding: 0;
}

.pricingTable>.pricingContent>ul>li {
    padding: 15px 0;
    border-bottom: 1px solid #fff;
    /* border: 0px none; */
    padding: 15px;
    word-spacing: 5px;
    text-align: left;
    text-transform: capitalize;
}

.pricingTable>.pricingContent>ul>li:first-child {
    text-align: right;
}

.pricingTable>.pricingContent>ul>li:last-child {
    border: 0px none;
    min-height: 190px;
    border-bottom: 10px solid #f3e6f2;
}

.pricingTable-sign-up {
    padding: 30px 0;
}

.pricingTable-sign-up>.btn-block {
    width: 80%;
    margin: 0 auto;
    background: #273238;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 12px;
    text-transform: uppercase;
    font-size: 18px;
}

.pricingTable-sign-up>.btn-block:hover {
    opacity: 0.9;
}

.pink {
    background: #ed687c;
}

.pink .pricingTable-header:after {
    border-bottom-color: #ed687c;
}

.orange {
    background: #e67e22;
}

.orange .pricingTable-header:after {
    border-bottom-color: #e67e22;
}

.blue {
    background: #3498db;
}

.blue .pricingTable-header:after {
    border-bottom-color: #3498db;
}

@media screen and (max-width: 1200px) {
    .pricingTable>.pricingTable-header:after {
        border-left: 215px solid transparent;
    }
}

@media screen and (max-width: 990px) {
    .pricingTable {
        margin-bottom: 20px;
    }
    .pricingTable>.pricingTable-header:after {
        border-left: 349px solid transparent;
    }
}

@media screen and (max-width: 480px) {
    .pricingTable {
        overflow: hidden;
    }
    .pricingTable>.pricingTable-header:after {
        border-left: 459px solid rgba(0, 0, 0, 0);
    }
}


/* card */

.movie-card {
    background-size: contain;
    background-position: -1% 90%;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 8vh auto;
    border-radius: 8px;
    box-shadow: 0px 8px 12px 0px rgb(229, 204, 227);
}

.movie-card.asia {
    background-image: url("../../assets/images/ASIA.jpg");
}

.movie-card.africa {
    background-image: url("../../assets/images/africa.jpg");
}

.asiaBox {
    background-image: url("../../assets/images/ASIA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.africaBox {
    background-image: url("../../assets/images/africa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cisBox {
    background-image: url("../../assets/images/cis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.otherBox {
    background-image: url("../../assets/images/usa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-card:nth-child(3) {
    background-image: url("http://www.dvdactive.com/images/reviews/screenshot/2011/5/akirabdcap8_original.jpg");
    background-position: -20% 80%;
}

.color-overlay {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(229, 204, 227, .1) 0%, #cf95c2 60%, #77326d 100%);
    background-blend-mode: multiply;
}

h1,
h2,
h3 {
    font-family: "Montserrat", helvetica, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 400;
}

.movie-content {
    width: 55%;
    display: block;
    position: relative;
    float: right;
    padding-right: 100px;
    text-shadow: 1px 1px 1px #000;
}

.movie-content .movie-title {
    color: #ffffff;
    margin-bottom: .25em;
    opacity: 1;
}

.movie-content .movie-info {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    color: #2a9fff;
    line-height: 1;
    margin: 0;
    font-weight: 700;
    opacity: .5;
}

.movie-content .movie-header {
    margin-bottom: 2em;
}

.movie-content .movie-desc {
    font-weight: 500;
    opacity: 1;
    margin-bottom: 2em;
    color: #fff;
    word-spacing: 5px;
    font-size: 1.3rem;
    line-height: 2rem;
}

.btn {
    padding: .8em 2em;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.btn-outline {
    background-color: transparent;
    border: 3px solid #ffffff;
}

.btn::before {
    font-family: 'Material Icons';
    content: '\e037';
    vertical-align: middle;
    font-size: 1.5em;
    padding-right: .5em;
}

.btn-outline:hover {
    border-color: #2a9fff;
    color: #2a9fff;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
    box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
}

.movie-share {
    padding: 1em;
    display: inline-block;
    width: 15%;
}

.movie-share__icon i {
    font-size: 1.2em;
    margin-left: .5em;
    color: #ffffff;
    mix-blend-mode: lighten;
    opacity: .4;
}

.movie-share__icon i:hover {
    opacity: 1;
    mix-blend-mode: lighten;
}

@media (max-width: 1000px) {
    .movie-content {
        width: 50%;
        max-width: 95%;
    }
}

@media (max-width: 800px) {
    .movie-card {
        width: 95%;
        max-width: 95%;
    }
}

@media (max-width: 600px) {
    .movie-card,
    .movie-card:nth-child(2),
    .movie-card:nth-child(3) {
        background-position: 50% 0%;
        background-size: cover;
        height: 400px;
    }
    .color-overlay {
        background: rgba(0, 0, 0, .4);
        /* background: linear-gradient(to bottom, rgba(229, 204, 227, .05) 0%, hsla(313, 38%, 70%, .4) 60%, rgba(168, 38, 129, .4) 100%); */
    }
    .movie-content {
        margin-top: -5%;
        width: 90%;
        text-shadow: 1px 1px 1px #000;
        padding-right: 30px;
    }
    .movie-share {
        display: block;
        width: 100%;
    }
}


/* DXC */

section.item-sxs.scroll .row {
    position: relative;
}

@media (min-width: 992px) {
    section.item-sxs .content-col {
        height: calc(100vh - 80px);
    }
    section.item-sxs .content-col {
        height: calc(100vh - 5rem);
        top: 5rem;
        position: -webkit-sticky;
        position: sticky;
    }
}

.imgBorder {
    border-radius: 10px;
    border: 1px solid #dcdada;
    margin: 5px;
}


/* scroll */