<section class="info-section bg-lightPick ">
    <div class="container">
        <div class="head-box mb-5">
            <h3 class="pageTitle">Global Presence</h3>
        </div>
        <div class="three-panel-block  mb-5">
            <div class="row">
                <div class=" col-md-12 font-size3rem pageMain-Text">
                    MMC has carved a niche in more than 30 + countries covering Asia, Africa, North America and CIS continents apart from India.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="pricingTable ">
                    <div class="pricingTable-header asiaBox">
                        <span class="heading">
                            
                        </span>
                        <!-- <span class="price-value"><span class="currency">$</span>10<span class="mo"> month</span></span> -->
                    </div>

                    <div class="pricingContent">
                        <ul>
                            <li>
                                <h3>ASIA</h3>
                            </li>
                            <li>Bhutan, Cambodia, Maldives, Myanmar, Philippines, Sri Lanka.</li>
                        </ul>
                    </div>
                    <!-- /  CONTENT BOX-->

                    <!-- <div class="pricingTable-sign-up">
                        <a href="#" class="btn btn-block btn-default">sign up</a>
                    </div> -->
                    <!-- BUTTON BOX-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header africaBox">
                        <span class="heading">
                        </span>
                        <!-- <span class="price-value"><span class="currency">$</span>10<span class="mo"> month</span></span> -->
                    </div>

                    <div class="pricingContent">
                        <ul>
                            <li>
                                <h3>AFRICA</h3>
                            </li>
                            <li>Burkina Faso, Cameroon, Egypt, Gabon, Ghana, Ivory Coast, Mali Malavi, Madagaskar, Mozambique, Niger , Nigeria, Rep. Of Congo, Senegal,Uganda, Zambia.</li>
                        </ul>
                    </div>
                    <!-- /  CONTENT BOX-->

                    <!-- <div class="pricingTable-sign-up">
                        <a href="#" class="btn btn-block btn-default">sign up</a>
                    </div> -->
                    <!-- BUTTON BOX-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header cisBox">
                        <span class="heading">
                        </span>
                        <!-- <span class="price-value"><span class="currency">$</span>10<span class="mo"> month</span></span> -->
                    </div>

                    <div class="pricingContent">
                        <ul>
                            <li>
                                <h3>CIS</h3>
                            </li>
                            <li>Armenia, Georgia, Kyrgyzstan, Tajikistan, Uzbeksitan</li>
                        </ul>
                    </div>
                    <!-- /  CONTENT BOX-->

                    <!-- <div class="pricingTable-sign-up">
                        <a href="#" class="btn btn-block btn-default">sign up</a>
                    </div> -->
                    <!-- BUTTON BOX-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header otherBox">
                        <span class="heading">
                        </span>
                        <!-- <span class="price-value"><span class="currency">$</span>10<span class="mo"> month</span></span> -->
                    </div>

                    <div class="pricingContent">
                        <ul>
                            <li>
                                <h3>OTHERS</h3>
                            </li>
                            <li>Canada, Costa Rica, Dominican Republic, Gautemala, Honduras, Jordan, Panama, Venezula,& Yemen.</li>
                        </ul>
                    </div>
                    <!-- /  CONTENT BOX-->

                    <!-- <div class="pricingTable-sign-up">
                        <a href="#" class="btn btn-block btn-default">sign up</a>
                    </div> -->
                    <!-- BUTTON BOX-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="info-section bg-white">
    <div class="container">
        <div class="head-box mb-5">
        </div>
        <div class="head-box text-center mb-1">
            <h2 class="">Global Presence</h2>
            <h6 class="text-underline-primary">MMC has carved a niche in more than 30 + countries covering Asia, Africa, North America and CIS continents apart from India.</h6>
        </div>
        <div class="three-panel-block ">
            <div class="image"><img src="../assets/images/Suraksha-BG.png" width="100%" alt="Our Vision" /></div>
        </div>
    </div>
</section> -->

<!-- 
<section class="info-section bg-lightPick">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h2 class="">Global Presence</h2>
            <h6 class="text-underline-primary">MMC has carved a niche in more than 30 + countries covering Asia, Africa, North America and CIS continents apart from India.</h6>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="col-md-12  m-0 ">
                        <div id="movie-card-list">
                            <div class="movie-card asia">
                                <div class="color-overlay">
                                    <div class="movie-content">
                                        <div class="movie-header">
                                            <h1 class="movie-title">ASIA</h1>
                                        </div>
                                        <p class="movie-desc"> Bhutan, Cambodia, Maldives, Myanmar, Philippines, Sri Lanka.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-12  m-0 ">
                        <div id="movie-card-list">
                            <div class="movie-card africa">
                                <div class="color-overlay">
                                    <div class="movie-content">
                                        <div class="movie-header">
                                            <h1 class="movie-title">AFRICA</h1>
                                        </div>
                                        <p class="movie-desc">Burkina Faso, Cameroon, Egypt, Gabon, Ghana, Ivory Coast, Mali Malavi, Madagaskar, Mozambique, Niger , Nigeria, Rep. Of Congo, Senegal,Uganda, Zambia.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-12  m-0 ">
                        <div id="movie-card-list">
                            <div class="movie-card africa">
                                <div class="color-overlay">
                                    <div class="movie-content">
                                        <div class="movie-header">
                                            <h1 class="movie-title">CIS</h1>
                                        </div>
                                        <p class="movie-desc">Armenia, Georgia, Kyrgyzstan, Tajikistan, Uzbeksitan</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-12  m-0 ">
                        <div id="movie-card-list">
                            <div class="movie-card africa">
                                <div class="color-overlay">
                                    <div class="movie-content">
                                        <div class="movie-header">
                                            <h1 class="movie-title">OTHERS</h1>
                                        </div>
                                        <p class="movie-desc">Canada, Costa Rica, Dominican Republic, Gautemala, Honduras, Jordan, Panama, Venezula,& Yemen.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section> -->



<!-- <section class="info-section bg-lightPick">
    <div class="container">
        <div class="head-box text-center mb-5">
            <h2 class="">Global Presence</h2>
            <h6 class="text-underline-primary">MMC has carved a niche in more than 30 + countries covering Asia, Africa, North America and CIS continents apart from India.</h6>
        </div>
        <div class="row">

        </div>
    </div>
</section> -->



<!-- <section class=" info-section bg-white item-sxs light  scroll">
    <div class="container">
        <div class="row ">
            <div class="d-flex col-12 col-lg-6 content-col py-lg-0 cr">
                <div class="content align-self-center">
                    <h2 class="text-center" style="text-transform: capitalize;line-height: 3.3rem;">Accreditations and memberships</h2>
                </div>
            </div>
            <div class="col-12 col-lg-6 item-col pl-lg-4">
                <div class="items row pb-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 text-center" *ngFor="let Accreditations of AccreditationsGroup">
                                        <img src="../../assets/images/accreditationsmembershipslogos/{{Accreditations.imageLogo}}" width="100%" alt="bootsnipp" class="img-rounded img-responsive imgBorder" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->

<section class=" info-section bg-primary item-sxs light  scroll">
    <div class="container">
        <div class="row ">
            <div class="d-flex col-12 col-lg-6 content-col py-lg-0 cr" style="background-color: #e5cce3;color: #77326d;">
                <div class="content align-self-center">
                    <h2 class="text-center" style="text-transform: capitalize;line-height: 3.3rem;">FDA Registered Countries</h2>
                </div>
            </div>
            <div class="col-12 col-lg-6 item-col pl-lg-4">
                <div class="items row pb-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 text-center" *ngFor="let countries of fdaregcountries">
                                        <img src="../../assets/images/fdaregcountrieslogos/{{countries.imageLogo}}" width="100%" alt="bootsnipp" class="img-rounded img-responsive imgBorder" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>