<!-- <section class="info-section bg-lightPick ">
    <div class="container">
        <div class="head-box">
            <h3 class="pageTitle">products</h3>
        </div>
    </div>
</section> -->
<section class="info-section bg-lightPick productTopDiv">
    <div class="container">
        <div class="head-box text-center mb-1" style="margin-right: -15px;">
            <h2 class="">Products</h2>
            <div class="col-md-12 prdBdr d-none d-md-block">
                <button class="btn btn-default filter-button" [attr.data-filter]="btn.dataFilter" *ngFor="let btn of productBtns">{{btn.lable}}</button>
            </div>
        </div>
        <div class="dropdown d-md-none text-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Product
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item filter-button" type="button" [attr.data-filter]="btn.dataFilter" *ngFor="let btn of productBtns">{{btn.lable}}</button>
                <!-- <button class="dropdown-item" type="button">Something else here</button> -->
            </div>
        </div>
    </div>
</section>
<section class="info-section bg-lightPick " style="padding-top: 13rem;">
    <div class="container">
        <div class="row">
            <div class="filter filterHeader {{btn.dataFilter}} col-12" [attr.data-filter]="" *ngFor="let btn of productBtns" style="display: none;">
                <div class="head-box text-center mb-1" style="margin-right: -15px;">
                    <h4 class="text-underline-primary" style="margin-bottom: 25px;">{{btn.lable}}</h4>
                </div>
            </div>
            <div class=" col-md-4 col-sm-6 filter {{card.ProductType}}" *ngFor="let card of ProductCads">
                <div class="">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="../assets/images/products/{{card.prodectImg}}" />
                                </div>

                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">{{card.prodectName}}</h3>
                                        <p class="profession">Category: {{card.prodectCategory}}</p>
                                        <!-- <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p> -->
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Read More
                                    </div>
                                </div>
                            </div>
                            <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">{{card.prodectName}}</h5>
                                    <!-- <div class="user">
                                    <img class="img-circle" src="../assets/images/products/IMG_3840.jpg" />
                                </div> -->
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Description</h4>
                                        <p class="text-center">{{card.DescriptionText}}</p>

                                        <!-- <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>
                                <div class="footer">
                                    <!-- <i class="fa fa-mail-forward"></i> Read More -->
                                </div>
                            </div>
                            <!-- end back panel -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end card-container -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="#">products</a></li>
            <li class="active"><span>Data</span></li>
        </ol>
    </div> -->
</section>