<section class="info-section bg-lightPick ">
    <div class="container">
        <div class="head-box mb-5">
            <h3 class="pageTitle">Services</h3>
        </div>
        <div class="three-panel-block  mb-5">
            <div class="row">
                <div class=" col-md-12 font-size3rem pageMain-Text">

                    One Stop Solution for all Pharmaceutical, Nutraceuticals and Cosmetic Services
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info-section bg-primary  text-white">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h3 class="">SBU - GODAVARI</h3>
            <h2 class="text-underlineWite-primary">Marketing</h2>
        </div>
        <div class="three-panel-block mb-5">
            <div class="row">
                <div class=" col-md-6 ">
                    <div class="head-box text-center mb-3">

                        <p class="mt-5 text-left"><strong>MMC Healthcare Lted.</strong>, has Marketing Operations Pan India with Field Force strength of 100 +.</p>
                        <ul class="text-left">
                            <ul>
                                <li><span style="">Markets Formulations of various segments like Psychiatry, Diabetic, Cardiac, Ortho, Gynaecology, Pain management etc.,</span></li>
                                <li><span style="">Markets more than 500 formulations covering 7000+ doctors, 1500 + Distributors and 25000+ retailers under the divisions of Sulcus, Impulse, Litax, Sumages and Elpis.</span></li>
                                <li><span style="">Depots in Hyderabad, Jaipur and Roorkee to cover the entire length and breadth of India for timely supply of stocks.</span></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 p-0 mt-5">
                    <div class="text-center ">
                        <img src="../assets/images/Mesa-de-trabajo-1Marketing.png" class="img-fluid pad1rem ">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="info-section bg-white ">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h3 class="">SBU - GANGA</h3>
            <h2 class="text-underline-primary ">Contract Manufacturing</h2>
        </div>
        <div class="three-panel-block mb-5">
            <div class="row">
                <div class=" col-md-6 ">
                    <div class="head-box text-center mb-3">

                        <p class="mt-5 text-left"><strong>MMC Healthcare Lted.,</strong> a WHO GMP Approved Manufacturing Facility Chennai, Tamilnadu</p>
                        <ul class=" text-left">
                            <li><span>Equipped with Modern, High-End Machines and integrated Packaging lines to be cost-efficient.</span></li>
                            <li><span>Manufacturers of both Pharmaceutical and Neutraceutical Products.</span></li>
                            <li><span>Manufacturing dosage forms like Tablets, Capsules, Liquid Orals and Sachets with Good Capacities.</span></li>
                            <li><span>Manufacturing and exporting more than 300+ formulations to 30+ Countries.</span></li>
                            <li><span>Manufacturing varied range of Pharma products in the segments of CNS, Cardio, Diabetic, Gynaecology, Immunosuppresants, Cosmetics.</span></li>
                            <li><span>Manufacturing varied range of Nutra Products like Multivitamin combinations with Ketoveyda Range</span></li>
                            <li><span>Specialized in Double Layered Technology of Tri-Combination Diabetic Products, Mouth Dissolving, Sublingual Formulations.</span></li>
                            <li><span>Have more than 50 varieties of Blister, Strip and Alu – Alu packing change Parts.</span></li>
                            <li><span>Qualified and Experienced Technical team in the areas of Manufacturing, QA, QC, Regulatory, Stores and FRD</span></li>
                            <li><span>In-house Artwork and Designing department</span></li>
                            <li><span>Fully integrated Foil Manufacturing Unit, Pellet Manufacturing Unit, Commercial Analytical Testing and Research Lab for Quick turnaround time.</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 p-0 mt-5">
                    <div class="text-center ">
                        <img src="../assets/images/Contract-Manufacturing100.png" class="img-fluid pad1rem ">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="info-section bg-lightPick ">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h3 class="">SBU – NILE</h3>
            <h2 class="text-underline-primary">Semi Regulated Markets</h2>
        </div>
        <div class="three-panel-block mb-5">
            <div class="row">
                <div class=" col-md-6 ">
                    <div class="head-box text-center mb-3">

                        <p class="mt-5 text-left"><strong></strong></p>
                        <ul class="text-left">
                            <li><span>Own Marketing Field Force in Srilanka , Myanmar, Maldives, Cambodia.</span></li>
                            <li><span>Continental Managers deployed for Asia, Africa and CIS</span></li>
                            <li><span>500+ Product Registrations Planned in next Five years.</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 p-0 mt-5">
                    <div class="text-center ">
                        <img src="../assets/images/Nile.png" class="img-fluid pad1rem ">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="info-section bg-white">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h3 class="">SBU - MISSISSIPPI</h3>
            <h2 class="text-underline-primary">Regulated Markets</h2>
        </div>
        <div class="three-panel-block mb-5">
            <div class="row">
                <div class=" col-md-6 ">
                    <div class="head-box text-center mb-3">

                        <p class="mt-5 text-left"></p>
                        <ul class="text-left">
                            <ul>
                                <ul class="text-left">
                                    <li><span style="">Opened New Office in USA</span></li>
                                    <li><span style="">Launched 15 Nutraceuticals Products with Brand KETOVEYDA</span></li>
                                    <li><span style="">Five ANDAs under development for USA</span></li>
                                    <li><span style="">Three ANDAs Ready to File in Canada</span></li>
                                    <li><span style="">RLD Supplies will be done Globally from Canada and USA</span></li>
                                    <li><span style="">“MANNYS” Nutraceuticals Brand is promoted online on AMAZON</span></li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 p-0 mt-2">
                    <div class="text-center ">
                        <img src="../assets/images/6867178.jpg" class="img-fluid pad1rem ">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="info-section bg-lightPick">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h3 class="">SBU – SARASWATHI</h3>
            <h2 class="text-underline-primary">Research & Development</h2>
        </div>
        <div class="three-panel-block mb-5">
            <div class="row">
                <div class=" col-md-6 ">
                    <div class="head-box text-center mb-3">
                        <p class="mt-5 text-left"><strong>MMC Healthcare Lted.</strong>, has top class R & D block which works for Cost-Effective, Technically Superior Formulations to cater to Global Markets.</p>
                        <ul class="text-left">
                            <ul>
                                <li><span style="">Has tie-ups with reputed Universities, Research Institutes; Government approved R&D centres like Andhra University, VIPER, HK College of Pharmacy for regular updating of technologies and knowledge sharing.</span></li>
                                <li><span style="">Has a lot of thrust towards R&D efforts and has successfully launched few technologies, through its own indigenous R & D.</span></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 p-0 mt-5">
                    <div class="text-center ">
                        <img src="../assets/images/Artboard-2Research.png" class="img-fluid pad1rem ">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>