<!-- Intro Seven -->
<section class="intro carousel slide bg-overlay-light h-auto" id="carouselExampleCaptions">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="d-block img-fluid cover introBgPos introimg01"></div>
            <!-- <img class="d-block img-fluid cover" alt="First slide" src="../../assets/images/mmc001.jpg"> -->
            <div class="carousel-caption ">
                <!-- <h2 class="display-4 text-pink mb-2 mt-4">We Care for Life</h2> -->
                <!-- <p class="text-white mb-3 px-5 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do enim ad minim veniam, </p>
                <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Explore More</a> -->
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block img-fluid cover introBgPos introimg02"></div>
            <!-- <img class="d-block img-fluid cover" alt="First slide" src="../../assets/images/mmc002.jpg"> -->
            <div class="carousel-caption ">
                <!-- <h2 class="display-4 text-pink mb-2 mt-4">We Care for Life</h2> -->
                <!-- <p class="text-white mb-3 px-5 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do enim ad minim veniam, </p>
                <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Explore More</a> -->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>
<div class="section-separator-curve top-curve grey-curve">anil</div>
<section class="info-section bg-white ">
    <div class="container">
        <div class="three-panel-block">
            <div class="row">
                <div class=" col-md-6 cr">
                    <h2> A vertically diversified Pharmaceutical, Neutraceutical and Cosmetics Conglomerate.</h2>
                </div>
                <div class="col-md-6 p-0 m-0">
                    <img src="../../assets/images/About-Bg-New-600x300.jpg" class="img-fluid pad1rem mt-5">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Info block 1 -->


<!-- Info block 1 -->
<!-- <section class="info-section  bg-lightPick">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h2 class="text-underline-primary">Our Group of Companies</h2>
        </div>
        <div class="three-panel-block mt-1">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="row mt-30">
                            <div class="col-md-4 col-sm-6" *ngFor="let logo of companyName">
                                <div class="box14 box14pad2rem mb-3">
                                    <img src="../../assets/images/{{ logo.name }}" class="img-fluid">
                                    <div class="box-content">
                                        <h3 class="title">Williamson</h3>
                                        <span class="post mt-3">{{ logo.text }}</span>
                                        <ul class="icon">
                                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="info-section  bg-lightPick">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h2 class="text-underline-primary">Our Group of Companies</h2>
            <!-- <h6 >This is information panel</h6> -->
        </div>
        <div class="three-panel-block mt-1">
            <div class="row">
                <div class="container">
                    <div class="row">

                        <!--team-1-->
                        <div class="col-lg-4" *ngFor="let logo of companyName">
                            <div class="our-team-main">

                                <div class="team-front">
                                    <img src="../../assets/images/{{ logo.name }}" class="img-fluid">
                                </div>

                                <div class="team-back">
                                    <span>
                                        <p class="px-4">{{ logo.text }}</p>

                                        
                                        <p class="text-right">
                                            <a class="" href="{{ logo.readmore }}" target="_blank">Read More</a>
                                        </p>
                                    </span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="info-section bg-white">
    <div class="container">
        <div class="head-box text-center mb-5">
            <h2 class="text-underline-primary">Snapshot</h2>
            <!-- <h2 class="text-underline-primary">Why Choose Us</h2> -->
            <!-- <h6 >This is information panel</h6> -->
        </div>
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-lg-3-20px" *ngFor="let Snapshot of SnapshotGroup">
                    <div class="circle-tile ">
                        <!-- <div class="circle-tile-heading darkFimg-blue"><i class="fa {{Snapshot.icon}} fa-fw fa-3x"></i></div> -->
                        <div class="circle-tile-heading dark-blue">
                            <span><img src="../../assets/images/pptIcons/{{Snapshot.icon}}" style="width: 57px; margin-top: 10px;" /> </span>
                        </div>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-number text-faded ">{{Snapshot.number}}</div>
                            <div class="circle-tile-description text-faded"> {{Snapshot.description}}</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-section bg-primary">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h2 class="text-underlineWite-primary text-white">Business Model</h2>
            <!-- <h6 >This is information panel</h6> -->
        </div>
        <div class="three-panel-block mt-4">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 figureheight500px" *ngFor="let model of businessModel">
                    <figure class="snip0051">
                        <img class="{{model.m-left}}" src="../../assets/images/{{model.modelImg}}" st alt="sample1" />
                        <figcaption>
                            <h2>{{model.heading}}</h2>
                            <p>{{model.text}}</p>
                        </figcaption>
                    </figure>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="info-section bg-lightPick">
    <div class="container">
        <div class="head-box text-center mb-1">
            <h2 class="text-underline-primary">Start your journey to better business.</h2>
            <button class="btn btn-primary mt-5" [routerLink]="['/Contact']">Contact US</button>
        </div>

    </div>
</section>